<%= render(Primer::Box.new(m: 3)) do %>
  <h1>イベント一覧</h1>

  <div class="d-table col-12">
    <div class="col-12 d-table">
      <div class="col-2 d-table-cell border p-2">
        #
      </div>
      <div class="col-4 d-table-cell border p-2">
        イベント名
      </div>
      <div class="col-6 d-table-cell border p-2">
        説明
      </div>
    </div>

    <% @events.each do |event| %>
      <div class="col-12 d-table">
        <div class="col-2 d-table-cell border p-2">
          <%= event.id %>
        </div>
        <div class="col-4 d-table-cell border p-2">
          <%= link_to event.name, event %>
        </div>
        <div class="col-6 d-table-cell border p-2">
          <%= event.description %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user %>
  <%= link_to '新規作成', new_event_path, class: "btn btn-primary" %>
<% end %>
