<%= render(Primer::Box.new(m: 3)) do %>
  <%= render(Primer::Box.new(m: 3)) do %>
    <h1><%= @event.name %></h1>
  <% end %>

  <%= render(Primer::Box.new(m: 3)) do %>
    <div class="d-table col-12">
      <div class="col-12 d-table">
        <div class="col-4 d-table-cell border p-2">
          開催日時
        </div>
        <div class="col-8 d-table-cell border p-2">
          <%= @event.start_at %>
        </div>
      </div>

      <div class="col-12 d-table">
        <div class="col-4 d-table-cell border p-2">
          終了日時
        </div>
        <div class="col-8 d-table-cell border p-2">
          <%= @event.end_at %>
        </div>
      </div>

      <div class="col-12 d-table">
        <div class="col-4 d-table-cell border p-2">
          開催場所
        </div>
        <div class="col-8 d-table-cell border p-2">
          <%= @event.location %>
        </div>
      </div>

      <div class="col-12 d-table">
        <div class="col-4 d-table-cell border p-2">
          主催者
        </div>
        <div class="col-8 d-table-cell border p-2">
          <%= @event.organizer.name %>
        </div>
      </div>

      <div class="col-12 d-table">
        <div class="col-4 d-table-cell border p-2">
          定員
        </div>
        <div class="col-8 d-table-cell border p-2">
          <%= @event.max_size %>人
        </div>
      </div>

      <div class="col-12 d-table">
        <div class="col-4 d-table-cell border p-2">
          参加費
        </div>
        <div class="col-8 d-table-cell border p-2">
          <%= @event.budget %>円
        </div>
      </div>

      <div class="col-12 d-table">
        <div class="col-4 d-table-cell border p-2">
          詳細
        </div>
        <div class="col-8 d-table-cell border p-2">
          <%= simple_format @event.description %>
        </div>
      </div>

      <% if current_user && current_user.participatable?(@event) %>
        <div class="col-12 d-table">
          <div class="col-4 d-table-cell border p-2"></div>
          <div class="col-8 d-table-cell border p-2">
            <%= primer_form_with local: true, url: event_participations_path(@event) do |f| %>
              <%= render(ParticipantForm.new(f)) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render(Primer::Box.new(m: 3)) do %>
    <% if @event.organizer?(current_user) %>
      <%= render(Primer::Beta::Button.new(scheme: :link, tag: :a, href: edit_event_path(@event))) do %>
        編集
      <% end %>
      <%= render(Primer::Beta::Button.new(scheme: :danger, tag: :a, href: event_path(@event), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" })) do %>
        イベントを削除する
      <% end %>
    <% end %>

    <%= render(Primer::Beta::Button.new(scheme: :link, tag: :a, href: root_path)) do %>
      トップへ戻る
    <% end %>
  <% end %>
<% end %>
