<h1><%= @event.name %></h1>

<ul class="list-group">
  <li class="list-group-item">
    開始日時: <%= @event.start_at %>
  </li>
  <li class="list-group-item">
    終了日時: <%= @event.end_at %>
  </li>
  <li class="list-group-item">
    開催場所: <%= @event.location %>
  </li>
  <li class="list-group-item">
    主催者: <%= @event.organizer.name %>
  </li>
  <li class="list-group-item">
    参加人数: <%= @event.max_size %>人
  </li>
  <li class="list-group-item">
    参加費: <%= @event.budget %>円
  </li>
  <li class="list-group-item">
    詳細:<br>
    <%= simple_format @event.description %>
  </li>

  <% if current_user && current_user.participatable?(@event) %>
    <li class="list-group-item">
        <%= button_to '参加する', event_participations_path(@event) %>
    </li>
  <% end %>
</ul>
  
  <% if @event.organizer?(current_user) %>
    <div><%= link_to '編集', edit_event_path(@event) %></div>
    <div><%= link_to "このイベントを削除", event_path(@event), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %></div>
  <% end %>
<div><%= link_to 'トップへ戻る', root_path %></div>
