<!DOCTYPE html>
<html>
  <head>
    <title>Beerkeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "logo.svg", width: '180' %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex flex-row-reverse w-100">
          <li class="nav-item active">
            <% if current_user %>
              <%= link_to 'ログアウト', session_path(current_user), data: { turbo_method: :delete } %>
            <% else %>
              <%= link_to 'ログイン', login_path %> | <%= link_to 'サインアップ', signup_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= render(AlertComponent.new(message_type: message_type, message: message) ) %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
