<!DOCTYPE html>
<html>
  <head>
    <title>Beerkeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-row-reverse bg-light">
      <% if current_user %>
        <%= link_to 'ログアウト', session_path(current_user), method: :delete %>
      <% else %>
        <%= link_to 'ログイン', login_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
