<!DOCTYPE html>
<html>
  <head>
    <title>Beerkeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <%= image_tag "logo.svg", width: '180' %>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex flex-row-reverse w-100">
          <li class="nav-item active">
            <% if current_user %>
              <%= link_to 'ログアウト', session_path(current_user), method: :delete %>
            <% else %>
              <%= link_to 'ログイン', login_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <% alert_name = message_type.to_sym == :alert ? 'danger' : 'success' %>
        <div class="alert alert-<%= alert_name %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
