<!DOCTYPE html>
<html>
  <head>
    <title>Beerkeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag("primer_view_components") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag("primer_view_components") %>
  </head>

  <body>
    <div class="Header">
      <div class="Header-item Header-item--full">
        <%= link_to root_path, class: "Header-link f4 d-flex flex-items-center" do %>
          <%= image_tag "logo.svg", width: '180' %>
        <% end %>
      </div>
      <% if current_user %>
        <div class="Header-item mr-0">
          <%= link_to 'ログアウト', session_path(current_user), data: { turbo_method: :delete }, class: 'Header-link' %>
        </div>
      <% else %>
        <div class="Header-item mr-2">
          <%= link_to 'ログイン', login_path, class: "Header-link" %>
        </div>
        <div class="Header-item mr-0">
          <%= link_to 'サインアップ', signup_path, class: "Header-link" %>
        </div>
      <% end %>
      </div>
    </div>

    <div>
      <% flash.each do |message_type, message| %>
        <%= render(AlertComponent.new(message_type: message_type, message: message) ) %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
